@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.content {
    position: relative;
    top: 0;
    background: transparent;
    width: 100%;
    display: flex;
  }
  
#background_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.draggable-elements{
    border: 2px solid white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 50rem;
    width: 13.5%;
    float: left;
}

.draggable{
    height: 10rem;
    width: 10rem;
    margin: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: move;
    transition: opacity 0.2s;
}

 .droppable-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;;
}

#sun{
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: circle 20s infinite linear;
    animation: circle 20s infinite linear; 
  }
  
.orbit{
  border: 0.22vmin dashed white;
  opacity: 1;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* animation: circle 20s infinite linear;  */
}

#belt {
    height: 150vmin;
    width: 150vmin;
    animation: circle 50s infinite linear;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: transparent; */
    /* margin-top: 50vmin; */
  }
.revolve{
    animation: circle 20s infinite linear;
}
.droppable{
    position: relative;
    /* left: -1px; */
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: transparent;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
} 

.droppable.droppable-hover{
    border-width: 3px;
    transform: scale(1.1);
}

.droppable.dropped{
    border-style: solid;
    border-width: 0px;
    color: white;
   /* -webkit-animation: circle 10s infinite linear; */
    animation: circle 10s infinite linear; 
    position: relative;
}

/* .orbit{
    animation: circle 10s infinite linear;
} */

/* .droppable.dropped span{
    font-size: 0rem;
    margin-top: 0rem;
} */

.droppable.dropped img{
    pointer-events: none;
}

.draggable.dragged{
    user-select: none;
    opacity: 1;
    cursor: default;
}

.draggable.dragged:hover{
    opacity: 0.1;
}

.guide{
    display: flex;
    float: right;
    flex-direction: column-reverse;
    width: 15%;
    height: 20%;
    background: transparent;
    border: 1px solid white;
    margin: 3rem;
    margin-right: 1rem;
    border-radius: 20px;
    color: black;
    font-weight: 800;
}

.guide div{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.guide img{
    width: 18rem;
    height: 18rem;
    float: center;
}

.guide button{
    background-color: white;
    font-size: 1rem;
    color: black;
    padding: 0.75rem;
    margin: 1rem;
    width: 80%;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.guide button:hover{
    background-color: grey;
    color: white;
}

.instructions{
    background-color: aqua;
    padding: 1.2rem;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:600px){
    html{
        font-size: 14px;
    }

    .draggable-elements{
        margin: 1.5rem;
    }
}

@keyframes circle {
    from {
      -webkit-transform: rotateZ(0deg)
    }
    to {
      -webkit-transform: rotateZ(360deg)
    }
  }
